@use "colorography" as color;

.color-selector {
  margin-bottom: 1rem;
  padding: 0.5rem 0;

  &__swatch {
    cursor: pointer;
  }

  &__message-container {
    font-size: 75%;
    margin-top: 0.67rem;
    padding: 0 1rem;
  }

  .active {
    box-shadow: 0.063rem 0rem 0.313rem 0.5rem map-get(color.$windy-palette, 500);
    border-radius: 50%;
  }
}
