<div class="product-details" *ngIf="product">
  <div class="product-details__header">
    <div class="product-details__title">{{ product.title }}</div>
    <div class="product-details__subtitle">{{ product.subtitle }}</div>
    <div class="product-details__group">
      <div class="product-details__label">Color</div>
      <div class="product-details__value">
        <app-color-swatch
          class="product-details__color"
          [color]="product.color"
        ></app-color-swatch>
      </div>
    </div>
    <div class="product-details__group">
      <div class="product-details__label">Status</div>
      <div class="product-details__value product-details__status">
        {{ product.status }}
      </div>
    </div>
  </div>
  <div class="product-details__description">
    <div class="mat-headline-1">Description</div>
    <p class="product-details__text">
      <span>{{ product.description }}</span>
    </p>
  </div>
  <div class="product-details__details" *ngIf="product.details?.length">
    <div class="mat-headline-1">Details</div>
    <ul class="product-details__details-items">
      <li
        class="product-details__details-item"
        *ngFor="let detailItem of product.details"
      >
        <span class="product-details__text">{{ detailItem }}</span>
      </li>
    </ul>
  </div>
</div>
