@use "colorography" as color;

.product-item {
  &__header {
    margin-bottom: 1rem;
  }

  &__button {
    vertical-align: middle;
  }

  &__panel {
    &--left {
      text-align: center;
    }
  }

  &__image-container {
    background: map-get(color.$windy-palette, 500);
    display: inline-block;
    min-width: 11.5rem;
    min-height: 15rem;
  }
}
