<div class="product-item">
  <div class="product-item__header">
    <button class="product-item__button" mat-button (click)="onBack()">
      <span fxLayout="row" fxLayoutAlign="center" fxLayoutGap="3px">
        <img src="assets/icons/chevron-left-icon.svg" alt="<" />
        <span>Back</span>
      </span>
    </button>
  </div>
  <div
    class="product-item__content"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="30px"
  >
    <div class="product-item__panel product-item__panel--left" fxFlex="1 0 0">
      <div class="product-item__image-container">
        <app-svg [color]="(product$ | async)?.color || color"></app-svg>
      </div>
    </div>
    <div class="product-item__panel product-item__panel--right" fxFlex="1 0 0">
      <app-product-details
        *ngIf="product$ | async as product; else productForm"
        [product]="product"
      ></app-product-details>
      <ng-template #productForm>
        <app-product-form
          (colorSelect)="color = $event"
          (submitEvent)="onSubmit($event)"
        ></app-product-form>
      </ng-template>
    </div>
  </div>
</div>
