@use "colorography" as color;

.product-card {
  &__link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  &__image-container {
    background: map-get(color.$windy-palette, 500);
    min-width: 11.5rem;
    min-height: 15rem;
  }

  &__content {
    padding: 1rem 0;
  }

  &__title {
    margin-bottom: 0;
    word-break: break-all;
  }

  &__subtitle {
    word-break: break-all;
  }
}
