$bark-palette: (
  50: #e8e8e8,
  100: #c5c6c6,
  200: #9fa0a0,
  300: #797979,
  400: #5c5d5d,
  500: #3f4040,
  600: #393a3a,
  700: #313232,
  800: #292a2a,
  900: #1b1c1c,
  A100: #74f2f2,
  A200: #45eeee,
  A400: #01ffff,
  A700: #00e6e6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
