$leaf-palette: (
  50: #e2f3f4,
  100: #b6e0e3,
  200: #86cbd0,
  300: #55b6bd,
  400: #30a7af,
  500: #0c97a1,
  600: #0a8f99,
  700: #08848f,
  800: #067a85,
  900: #036974,
  A100: #a2f4ff,
  A200: #6feeff,
  A400: #3ce8ff,
  A700: #23e5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
