$windy-palette: (
  50: #fbfbfb,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e7e7e7,
  400: #e2e2e2,
  500: #dddddd,
  600: #d9d9d9,
  700: #d4d4d4,
  800: #cfcfcf,
  900: #c7c7c7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
