.product-form {
  &__details {
    margin: 0.5rem 0 2.5rem;

    &-header {
      margin-bottom: 0.5rem;
    }
  }

  &__button {
    &-text {
      font-size: 1.8rem;
      position: relative;
      top: -2px;
    }

    &-stroked {
      width: 100%;
    }
  }
}
